{
	"quoteProps": "consistent",
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"semi": false,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"singleAttributePerLine": false,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 180
}
